* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  margin-bottom: 80px;
  color: #140fa6;
}

.logo-box {
  position: relative;
  left: -100px;
}

.logo {
  width: 20%;
}
.nav-bar ul{
    overflow: hidden;
    margin:0;
    padding:0;
}
.nav-bar li {
  list-style-type: none;
  display: inline;
}
.nav-bar a {
  text-decoration: none;
  padding: 10px;
  color: #f68d3d;
  font-size: 20px;
  font-weight: bolder;
}
.main-content {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  position: relative;
  left: 100px;
  margin: 20px;
}
body {
  background-image: url("./image/Class\ BG\ SignUp\ SignIn.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -300px;
}

.main-text {
  text-align: center;
  font-size: 26px;
  position: relative;
  left: 100px;
  bottom: 30px;
}
.main-text h2 {
  color: #030ba6;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: 450px;
  transform: translate(90%);
  padding: 10px 15px;
  margin-left: 10px;
  border: 300px;
  background: #f2f2f2;
}
.btn:hover {
  background: #777;
  transform: translateX(-1px);
}
.btn:active {
  background: #777;
  transform: translateX(-3px);
}
.btn-img {
  width: 20px;
}

form {
  position: relative;
  left: 150px;
  margin-bottom: 10px;
}
input {
  padding: 20px 30px 20px 30px;
  width: 30%;
  margin: 10px;
  position: relative;
  left: 200px;
  transform: translate(50%);
}
h3 {
  text-align: center;
  background: #fff;
  border-bottom: 2px solid #777;
  line-height: 0.1em;
  margin: 20px 0 30px;
}
h3 span {
  border: none;
  background: #fff;
  margin: 10px;
  align-content: center;
  padding: 10px;
  position: relative;
  left: 20px;
}

.text {
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  left: 100px;
}
.text a:link {
  text-decoration: none;
  color: #140fa6;
  font-weight: bold;
}
