*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 .nav-bar{
     display: block;
     font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    border-bottom:3px solid #f2f2f2;
    margin-bottom:80px;
    color:#140FA6;

 }
  .main-content{
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      position: absolute;
      left:400px;
      margin:20px;
      
  }
  .main-content h2{
      margin-bottom:30px;
      text-align: center; 
     
  }
  
  .btn:link,
      .btn:visited{
          display:inline-block;
          position: relative;
          left:150px;
          translate: transform(-10% 0);
          text-decoration:none;
          padding: 10px 15px;
          margin-left: 10px;
          border:300px;
          background:#f2f2f2;
      }
  .btn:hover{
      background:#777;
      transform: translateX(-1px);
  }
  .btn:active{
      background: #777;
      transform: translateX(-3px);
  }
  .btn-img{
      width:20px;
  }
  h3{ 

      width:100%;
      text-align: center;
      background:#fff;
      border-bottom: 2px solid #777;
      line-height:0.1em;
      margin: 20px 0 30px;
  }
  h3 span{
      border: none;
      background:#fff;
      margin:10px;
      align-content: center; 
      padding:10px;
  } 

  form{
     position: relative;
     left:150px;
      margin-bottom:10px;
  }
  input{
padding:20px 30px 20px 30px;
width: 60%;
margin:10px;
position: relative;
right:80px;
  }
  .text{
      margin-bottom:20px;
  }
  .text a:link{
      text-decoration: none;
      color:#140FA6; 
      font-weight: bold;
  }